.faq-page-wrapper
	h6.pre-headline Часто задаваемые вопросы
	h1.page-headline.ta-c Отвечаем на ваши
		br
		| часто задаваемые вопросы
	#faq-tabs.nav.nav-pills.faq-nav(role='tablist', aria-orientation='vertical')
		a.nav-link.active(href='#tab1', data-toggle='pill', role='tab', aria-controls='tab1', aria-selected='true')
			i.mdi.mdi-help-circle
			|  Рубрика 1
		a.nav-link(href='#tab2', data-toggle='pill', role='tab', aria-controls='tab2', aria-selected='false')
			i.mdi.mdi-account
			|  Рубрика 2
		a.nav-link(href='#tab3', data-toggle='pill', role='tab', aria-controls='tab3', aria-selected='false')
			i.mdi.mdi-account-settings
			|  Рубрика 3
	#faq-tab-content.tab-content
		#tab1.tab-pane.show.active(role='tabpanel', aria-labelledby='tab1')
			#accordion-tab-1.accordion
				.card
					#accordion-tab-1-heading-1.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-1-content-1', aria-expanded='false', aria-controls='accordion-tab-1-content-1').collapsed
							span Как зарегистрироваться на сайте компании VerumTrade для дальнейшей работы?
					#accordion-tab-1-content-1.collapse(aria-labelledby='accordion-tab-1-heading-1', data-parent='#accordion-tab-1')
						.card-body
							p Для начала работы в компании VerumTrade необходимо зарегистрироваться по ссылке уже действующего партнера или подать заявку на регистрацию. Оставьте ваш адрес электронной почты на сайте компании и мы обязательно с вами свяжемся.
				.card
					#accordion-tab-1-heading-2.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-1-content-2', aria-expanded='false', aria-controls='accordion-tab-1-content-2').collapsed
							span Когда начисляются и выплачиваются проценты по инвестициям?
					#accordion-tab-1-content-2.collapse(aria-labelledby='accordion-tab-1-heading-2', data-parent='#accordion-tab-1')
						.card-body
							p Процент по инвестиции начисляется каждые 30 дней (раз в месяц), а вывод доступен сразу после их начисления.
				.card
					#accordion-tab-1-heading-3.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-1-content-3', aria-expanded='false', aria-controls='accordion-tab-1-content-3').collapsed
							span Какой минимальный и максимальный размер инвестиций в компанию VerumTrade?
					#accordion-tab-1-content-3.collapse(aria-labelledby='accordion-tab-1-heading-3', data-parent='#accordion-tab-1')
						.card-body
							p Минимальная инвестиция в компании равна эквиваленту 100 долларов, а максимальная — 50 000 долларов.
				.card
					#accordion-tab-1-heading-4.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-1-content-4', aria-expanded='false', aria-controls='accordion-tab-1-content-4').collapsed
							span Когда начисляются и выплачиваются проценты по инвестициям?
					#accordion-tab-1-content-4.collapse(aria-labelledby='accordion-tab-1-heading-4', data-parent='#accordion-tab-1')
						.card-body
							p Процент по инвестиции начисляется каждые 30 дней (раз в месяц), а вывод доступен сразу после их начисления.
				.card
					#accordion-tab-1-heading-5.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-1-content-5', aria-expanded='false', aria-controls='accordion-tab-1-content-5').collapsed
							span Кто может зарегистрироваться и начать работу с VerumTrade?
					#accordion-tab-1-content-5.collapse(aria-labelledby='accordion-tab-1-heading-5', data-parent='#accordion-tab-1')
						.card-body
							p Регистрация доступна особам, достигшим совершеннолетия.
				.card
					#accordion-tab-1-heading-6.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-1-content-6', aria-expanded='false', aria-controls='accordion-tab-1-content-6').collapsed
							span Какие условия для участия в реферальной программе?
					#accordion-tab-1-content-6.collapse(aria-labelledby='accordion-tab-1-heading-6', data-parent='#accordion-tab-1')
						.card-body
							p Для участие в реферальной программе необходимо наличие минимальной инвестиции (эквивалент 100 долларов).
		#tab2.tab-pane(role='tabpanel', aria-labelledby='tab2')
			#accordion-tab-2.accordion
				.card
					#accordion-tab-2-heading-1.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-2-content-1', aria-expanded='false', aria-controls='accordion-tab-2-content-1').collapsed
							span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac arcu non lacus tempor tempus eget id odio.
					#accordion-tab-2-content-1.collapse(aria-labelledby='accordion-tab-2-heading-1', data-parent='#accordion-tab-2')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
				.card
					#accordion-tab-2-heading-2.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-2-content-2', aria-expanded='false', aria-controls='accordion-tab-2-content-2').collapsed
							span Sed facilisis mi diam, id molestie lectus fermentum quis. Interdum et malesuada fames ac ante ipsum
					#accordion-tab-2-content-2.collapse(aria-labelledby='accordion-tab-2-heading-2', data-parent='#accordion-tab-2')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
				.card
					#accordion-tab-2-heading-3.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-2-content-3', aria-expanded='false', aria-controls='accordion-tab-2-content-3').collapsed
							span Aenean euismod ex eu dictum dapibus. Fusce quam velit, aliquam vel fringilla eu, imperdiet et mi.
					#accordion-tab-2-content-3.collapse(aria-labelledby='accordion-tab-2-heading-3', data-parent='#accordion-tab-2')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
				.card
					#accordion-tab-2-heading-4.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-2-content-4', aria-expanded='false', aria-controls='accordion-tab-2-content-4').collapsed
							span Sed tortor ante, rutrum sed aliquam sed, tempus eu ligula. Maecenas molestie libero 
					#accordion-tab-2-content-4.collapse(aria-labelledby='accordion-tab-2-heading-4', data-parent='#accordion-tab-2')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
		#tab3.tab-pane(role='tabpanel', aria-labelledby='tab3')
			#accordion-tab-3.accordion
				.card
					#accordion-tab-3-heading-1.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-3-content-1', aria-expanded='false', aria-controls='accordion-tab-3-content-1').collapsed
							span Praesent nibh neque, lobortis eget egestas a, feugiat vitae metus.
					#accordion-tab-3-content-1.collapse(aria-labelledby='accordion-tab-3-heading-1', data-parent='#accordion-tab-3')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
				.card
					#accordion-tab-3-heading-2.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-3-content-2', aria-expanded='false', aria-controls='accordion-tab-3-content-2').collapsed
							span Duis egestas pulvinar augue, quis mattis ex condimentum eget.
					#accordion-tab-3-content-2.collapse(aria-labelledby='accordion-tab-3-heading-2', data-parent='#accordion-tab-3')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
				.card
					#accordion-tab-3-heading-3.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-3-content-3', aria-expanded='false', aria-controls='accordion-tab-3-content-3').collapsed
							span In pulvinar mi neque, nec rhoncus libero ullamcorper nec. Aenean porta risus
					#accordion-tab-3-content-3.collapse(aria-labelledby='accordion-tab-3-heading-3', data-parent='#accordion-tab-3')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.
				.card
					#accordion-tab-3-heading-4.card-header
						a(data-toggle='collapse', data-target='#accordion-tab-3-content-4', aria-expanded='false', aria-controls='accordion-tab-3-content-4').collapsed
							span Mauris facilisis ultricies aliquam. Vivamus mollis diam vitae arcu dapibus 
					#accordion-tab-3-content-4.collapse(aria-labelledby='accordion-tab-3-heading-4', data-parent='#accordion-tab-3')
						.card-body
							p Nullam gravida metus ultricies velit vulputate, non ultrices nunc vulputate. Donec tortor mi, pretium a lectus non, hendrerit ultrices sem.