extends layouts/_inner.pug

block head-meta
	+head-meta(
	'События - VerumTrade', 
	'События - VerumTrade', 
	'https://verumtrade.com/events.html'
	)

block main-content
	.events-page
		.container
			h6.pre-headline Инфоцентр
			h1.page-headline.ta-c События VerumTrade
			.event-item
				.photo-block
					img(src="images/event-photo.png", alt="Event photo")
				.info-block
					.line-1
						span.event-type Конференция
						span.is-free Вход свободный
					.line-2
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2018
						.time
							i.zmdi.zmdi-time
							span 16:00
					.line-3
						.headline Большое событие для больших людей
					.line-4
						.address
							i.zmdi.zmdi-pin
							span Киев. Отель Tien Shan, ул.Богенбай Батыра 115
					.line-5
						a(href="#").photo-btn
							i.zmdi.zmdi-camera
							span Фотографии
						a(href="#").video-btn
							i.zmdi.zmdi-videocam
							span Видеоотчет
			.event-item
				.photo-block
					img(src="images/event-photo.png", alt="Event photo")
				.info-block
					.line-1
						span.event-type Конференция
						span.is-free Вход свободный
					.line-2
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2018
						.time
							i.zmdi.zmdi-time
							span 16:00
					.line-3
						.headline Большое событие для больших людей
					.line-4
						.address
							i.zmdi.zmdi-pin
							span Киев. Отель Tien Shan, ул.Богенбай Батыра 115
					.line-5
						a(href="#").photo-btn
							i.zmdi.zmdi-camera
							span Фотографии
						a(href="#").video-btn
							i.zmdi.zmdi-videocam
							span Видеоотчет
			.event-item
				.photo-block
					img(src="images/event-photo.png", alt="Event photo")
				.info-block
					.line-1
						span.event-type Конференция
						span.is-free Вход свободный
					.line-2
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2018
						.time
							i.zmdi.zmdi-time
							span 16:00
					.line-3
						.headline Большое событие для больших людей
					.line-4
						.address
							i.zmdi.zmdi-pin
							span Киев. Отель Tien Shan, ул.Богенбай Батыра 115
					.line-5
						a(href="#").photo-btn
							i.zmdi.zmdi-camera
							span Фотографии
						a(href="#").video-btn
							i.zmdi.zmdi-videocam
							span Видеоотчет