extends layouts/_inner.pug

block head-meta
	+head-meta(
	'Галерея - VerumTrade', 
	'Галерея - VerumTrade', 
	'https://verumtrade.com/gallery.html'
	)

block main-content
	.gallery-page
		.container
			h6.pre-headline Галерея
			h1.page-headline.ta-c Конференции VerumTrade
			.flex-block
				.flex-item
					figure.top-half
						img.image(src="./images/gallery.png", alt="image")
						.camera
							i.zmdi.zmdi-camera
						.middle
							+button-name("Смотреть фотографии")
					.bottom-half
						.location
							i.zmdi.zmdi-pin
							span Локация: Киев
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2017
						h3.title Блокчейн конференция
						.share
							.share-desc
								i.zmdi.zmdi-share
								span Поделиться в соцсетях:
							.share-links
								a(href="javascript:void(0);")
									i.zmdi.zmdi-facebook
								a(href="javascript:void(0);")
									i.zmdi.zmdi-vk
								a(href="javascript:void(0);")
									i.zmdi.zmdi-google-plus-box
								a(href="javascript:void(0);")
									i.zmdi.zmdi-twitter
				.flex-item
					figure.top-half
						img.image(src="./images/gallery.png", alt="image")
						.camera
							i.zmdi.zmdi-camera
						.middle
							+button-name("Смотреть фотографии")
					.bottom-half
						.location
							i.zmdi.zmdi-pin
							span Локация: Киев
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2017
						h3.title Блокчейн конференция
						.share
							.share-desc
								i.zmdi.zmdi-share
								span Поделиться в соцсетях:
							.share-links
								a(href="javascript:void(0);")
									i.zmdi.zmdi-facebook
								a(href="javascript:void(0);")
									i.zmdi.zmdi-vk
								a(href="javascript:void(0);")
									i.zmdi.zmdi-google-plus-box
								a(href="javascript:void(0);")
									i.zmdi.zmdi-twitter
				.flex-item
					figure.top-half
						img.image(src="./images/gallery.png", alt="image")
						.camera
							i.zmdi.zmdi-camera
						.middle
							+button-name("Смотреть фотографии")
					.bottom-half
						.location
							i.zmdi.zmdi-pin
							span Локация: Киев
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2017
						h3.title Блокчейн конференция
						.share
							.share-desc
								i.zmdi.zmdi-share
								span Поделиться в соцсетях:
							.share-links
								a(href="javascript:void(0);")
									i.zmdi.zmdi-facebook
								a(href="javascript:void(0);")
									i.zmdi.zmdi-vk
								a(href="javascript:void(0);")
									i.zmdi.zmdi-google-plus-box
								a(href="javascript:void(0);")
									i.zmdi.zmdi-twitter