extends layouts/_inner.pug

block head-meta
	+head-meta(
	'Пост - VerumTrade', 
	'Пост - VerumTrade', 
	'https://verumtrade.com/news-single.html'
	)

block main-content
	.post-page
		.container
			.row
				.col-lg-1.switch-order
					.share-block
						a(href="javascript:void(0);")
							img(src="./images/facebook.png", alt="Facebook")
						a(href="javascript:void(0);")
							img(src="./images/twitter.png", alt="Twitter")
						a(href="javascript:void(0);")
							img(src="./images/google+.png", alt="Google+")
						span Поделиться в соцсетях
				.col-lg-10.col-md-12
					h6.pre-headline
					h1.page-headline.ta-c Резкий обвал и рост: дали прогноз 
						br
						| по биткоину в следующем году
					img(src="./images/post-image.png", alt="Post image", style="width: 100%")
					.content
						h3 Биткоин в марте 2019-го опустится до отметки в $2 тыс. (по состоянию на 29 ноября – $4,3 тыс).
						p Такой прогноз со ссылкой на аналитиков рынка опубликовало издание Fxteam. Биткоин уже неоднократно резко падал в цене, а если сравнить его график за 2018 год с показателями 2014-го, можно заметить, что сейчас индустрия находится в подобной ситуации, как четыре года назад.
						h4 В целом эксперты называют пять причин для того, чтобы курс биткоина снова перешел к росту в марте 2019-го.
						ul
							li Batkk. Оператор Нью-Йоркской фондовой биржи Intercontinental Exchange (ICE) готовится запустить платформу для институциональных инвесторов Bakkt. Запуск состоится 24 января 2019 года.
							li Fidelity. Холдинговая компания Fidelity Investments, под управлением которой находятся активы на сумму в $2,1 трлн, запускает криптовалютное подразделение.
							li Bitcoin-ETF. Комиссия по ценным бумагам и биржам США (SEC) изучает заявку на запуск Bitcoin-ETF от криптовалютного стартапа SolidX. Регулятор должен дать ответ до марта 2019 года.
							li Фьючерсы от Nasdaq. Одна из крупнейших фондовых бирж в мире Nasdaq готовится запустить фьючерсы на первую криптовалюту в сотрудничестве с VanEck. Новый продукт будет запущен в первом квартале 2019 года.
						h3 Почему падают криптовалюты — 5 причин от New York Times
						p Издание The New York Times выбрало 5 событий и трендов, которые могли сказаться на резком снижении курса основных криптовалют.
						ol
							li Batkk. Оператор Нью-Йоркской фондовой биржи Intercontinental Exchange (ICE) готовится запустить платформу для институциональных инвесторов Bakkt. Запуск состоится 24 января 2019 года.
							li Fidelity. Холдинговая компания Fidelity Investments, под управлением которой находятся активы на сумму в $2,1 трлн, запускает криптовалютное подразделение.
							li Bitcoin-ETF. Комиссия по ценным бумагам и биржам США (SEC) изучает заявку на запуск Bitcoin-ETF от криптовалютного стартапа SolidX. Регулятор должен дать ответ до марта 2019 года.
							li Фьючерсы от Nasdaq. Одна из крупнейших фондовых бирж в мире Nasdaq готовится запустить фьючерсы на первую криптовалюту в сотрудничестве с VanEck. Новый продукт будет запущен в первом квартале 2019 года.
						blockquote Криптовалютами руководят разработчики — это не всегда хорошо
						p Такой прогноз со ссылкой на аналитиков рынка опубликовало издание Fxteam. Биткоин уже неоднократно резко падал в цене, а если сравнить его график за 2018 год с показателями 2014-го, можно заметить, что сейчас индустрия находится в подобной ситуации, как четыре года назад.
						.prev-next-block
							a(href="javascript:void(0);")
								h5 Предыдущая статья
								p Здесь будет название предыдущая статьи
							a(href="javascript:void(0);")
								h5 Следующая статья
								p Здесь будет название следующей статьи
				.col-lg-1