include ../mixins/_mixins
doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		block head-meta
		include ../includes/_favicons
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
	body
		//- header.header
		//- 	.container
		//- 		nav.navbar.navbar-expand-lg
		//- 			a.brand(href="/")
		//- 				img(src="./images/logo.png", alt="logo", style="width: 40px; height: 40px;").d-inline-block.align-top
		//- 				span VerumTrade
		//- 			#navbarNavDropdown.collapse.navbar-collapse.main-menu
		//- 				ul.navbar-nav
		//- 					li.nav-item.default-nav-item.active
		//- 						a.nav-link(href='/') Главная
		//- 					li.nav-item.default-nav-item
		//- 						a.nav-link(href='company.html') О компании
		//- 					li.nav-item.default-nav-item
		//- 						a.nav-link(href='faq.html') FAQ
		//- 					li.nav-item.default-nav-item.dropdown
		//- 						a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
		//- 							| Инфоцентр
		//- 						.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
		//- 							a.dropdown-item(href='events.html') События
		//- 							a.dropdown-item(href='#') Новости
		//- 							a.dropdown-item(href='#') Отзывы
		//- 					li.nav-item.default-nav-item
		//- 						a.nav-link(href='contacts.html') Контакты
		//- 					li.nav-item.special-nav-item
		//- 						a.nav-link(href='https://backoffice.verumtrade.com/sign_in')
		//- 							i.zmdi.zmdi-lock
		//- 							span Войти
		//- 						a.nav-link(href='https://backoffice.verumtrade.com/sign_up')
		//- 							i.zmdi.zmdi-account-add
		//- 							span Регистрация
		block header
		block main-content
		footer.top-footer
			.container
				.row.footer-menu
					.col-sm-2.footer-menu-col.footer-menu-col-1
						a(href="/")
							img(src="images/logo.png", alt="logo", style="width: 40px; height: 40px;")
					.col-sm-3.footer-menu-col.footer-menu-col-2
						p.footer-menu-title Меню
						ul.footer-menu-list
							li
								a(href="/") Главная страница
							li
								a(href="#") О VerumTrade
							li
								a(href="#") Часто задаваемые вопросы
							li
								a(href="#") Контакты
					.col-sm-2.footer-menu-col.footer-menu-col-3
						p.footer-menu-title Инфоцентр
						ul.footer-menu-list
							li
								a(href="#") События
							li
								a(href="#") Новости
							li
								a(href="#") Отзывы
							li
								a(href="#") Галерея
					.col-sm-3.footer-menu-col.footer-menu-col-4
						p.footer-menu-title Контакты
						ul.footer-menu-list
							li
								p Dublin, Ireland
							li
								p 110, Upper Tulse Hill
							li
								p Тел. 
									|
									a(href="tel:+12248175906") +1 (224) 817-59-06
							li
								a(href="mailto:support@verumtrade.com") support@verumtrade.com
					.col-sm-2.footer-menu-col.footer-menu-col-5
						p.footer-menu-title Соцсети
						ul.footer-menu-list
							li
								a(href="#").facebook-icon
									.icon-wrapper
										i.zmdi.zmdi-facebook
									span Facebook
							li
								a(href="#").twitter-icon
									.icon-wrapper
										i.zmdi.zmdi-twitter
									span Twitter
							li
								a(href="#").youtube-icon
									.icon-wrapper
										i.zmdi.zmdi-youtube
									span Youtube
							li
								a(href="#").instagram-icon
									.icon-wrapper
										i.zmdi.zmdi-instagram
									span Instagram
		footer.bottom-footer
			.container
				.row
					.col-sm-5
						p Все права защищены &copy; VerumTrade - 2018
					.col-sm-2.text-center
						a(href="#")#scrollTop
							| Вверх сайта  
							i.zmdi.zmdi-chevron-up.scroll-top-icon
					.col-sm-5.text-right
						a(href="#") Политика конфиденциальности
		link(rel="stylesheet", href="css/main.min.css")
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
		script(src="https://tympanus.net/Development/ProximityFeedback/js/TweenMax.min.js")
		script(src="https://tympanus.net/Development/ProximityFeedback/js/nearby.js")
		script(src="https://tympanus.net/Development/ProximityFeedback/js/charming.min.js")
		block extra-js
		script(src="js/common.js")